/* reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
 
  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  /* main css */

  * {
    color: seashell;
    background-color: hsl(201, 85%, 15%);
    font-family: "Exo 2", sans-serif;
  }

  h1, h2, p {
    margin-left: 3rem;
  }

  /* header section */
  
  header {
    width: 100%;
    height: 4rem;
    border-bottom: 2px solid hsl(161, 92%, 47%);
    z-index: 10;
  }

  nav {
    float: right;
    margin-top: 0.6rem;
  }

  li {
    display: inline;
    margin: 0 1rem;
  }

  a {
    text-decoration: none;
    font-size: 1.5rem;
  }

  a:hover {
    color: hsl(161, 92%, 47%);
  }

  .nav-contact {
    display: none;
  }

  @media only screen and (max-width: 750px) {
    .nav-contact {
      display: inline;
    }

    nav {
      float: none;
      padding-top: 1rem;
      text-align: center;
    }

    li a {
      font-size: 1.2rem;
    }
  }

  @media only screen and (max-width: 333px) {
    li a {
      font-size: 1rem;
    }
  }

  /* main content */

  h2 {
    margin-top: 2rem;
  }

  .about p {
    margin-right: 10rem;
  }

  .skills {
    max-width: 70%;
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 3rem;
  }

  .icon-container {
    text-align: center;
    margin: 1rem 2rem;
  }

  .icon-container p {
    margin: 0;
  }

  i {
    font-size: 2rem;
  }

  @media only screen and (max-width: 780px) {
    .about p {
      margin-right: 3rem;
    }
  }

  @media only screen and (max-width: 360px) {
    .skills {
      flex-direction: column;
    }
  }

  /* contact tab */

  .contact-section {
    position: relative;
  } 

  .contact-container {
    position: absolute;
    right: 0;
    display: inline-flex;
    bottom: 1rem;
  }

  #contact-tab {
    height: 10rem;
    background-color: hsl(161, 92%, 47%);
    color: hsl(201, 85%, 15%);
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contact-tab:hover {
    cursor: pointer;
  }

  #contact-tab i, #contact-tab p {
    background-color: hsl(161, 92%, 47%);
    color: hsl(201, 85%, 15%);
    margin: 0;
  }

  #contact-tab p {
    font-size: 1.5rem;
  }

  #contact-content {
    display: none;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: hsl(161, 92%, 47%);
    border-radius: 5px 0 0 5px;
    height: 10rem;
    align-content: center;
  }

  #contact-content p {
    margin-right: 3rem;
  }

  @media only screen and (max-width: 780px) {
    .contact-section {
      bottom: 17rem;
    }
  }

  @media only screen and (max-width: 750px) {
    .contact-section {
      display: none;
    }
  }